#table{
    border-color: whitesmoke; 
}
#tr1{
    background-color: greenyellow;
}
#tr2{
    background-color: lightgray;
}
#tr3{
    background-color: lightgray;
}
#german{
    width: 15%;
}
#mexico{
    width: 15%;
}
#uk{
    width: 15%;
}