
table{
    background-color: lightcyan;
    border-radius: 25px;
}
button{
    background-color: lightgrey;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: lightsalmon;
}
.paragraph{
    text-align: center
}

.background{
    background-color: silver;
    padding-right: 25%;
    padding-left: 25%;
    
}
.music1 img{
    width: 70%;
    padding-left:16%;
}
.music1 table{
    width: 70%;
}
.music2 table{
    width: 70%;
}
.music2 img{
    width: 70%;
    padding-left:16%;
}
.music3 table{
    width: 70%;
}
.music3 img{
    width: 70%;
    padding-left:16%;
}

